*{
    margin: 0;
    padding: 0;
}

.container>h1{
    color: white;
    position: relative;
    left: 20px;
    animation-name: banner-title;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

header:hover{
    font-weight: bolder;
    font-style: italic;
}
header:active{
    background-color: red;
}

aside:hover{
    font-weight: bolder;
    font-style: oblique;
}
aside:active{
    background-color: blue;
    transition-duration: 10s;
}
section:hover{
    font-weight: bolder;
    font-style: inherit;
}
section:active{
    background-color: pink;
    transition-delay: 2s;
}

@keyframes banner-title {
    from {left: -50%;}
    to {left: 50px;}
}